version: '3'

services:
  bdc-geoserver:
    image: brazildatacube/geoserver:${TAG}
    container_name: bdc-geoserver
    privileged: true
    environment:
      - GEOSERVER_URL=http://geoserver:8080/geoserver
      - GEOSERVER_USER=admin
      - GEOSERVER_PASSWORD=geoserver
      - ENVIRONMENT=DevelopmentConfig
      - KEYSYSTEM=Key#2019@Geoserver#hash
      - PATH_BASE_GEOSERVER=file:///home/data/cubes
      - PATH_CUBES_FILE=/data/bdc/files
      - POSTGRES_DATABASE=bdc
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_HOST=postgis
      - POSTGRES_PORT=5432
      - SUFFIX_NAME_CUBE=_MEDIAN_RGB
    volumes:
      - ./../files:/data/bdc/files
    ports:
      - "5000:5000"
    restart: always
    networks:
      - bdc_net_geoserver

  geoserver:
    hostname: geoserver
    container_name: geoserver
    image: kartoza/geoserver
    environment:
      - GEOSERVER_ADMIN_PASSWORD=geoserver
      - INITIAL_MEMORY=2G
      - MAXIMUM_MEMORY=4G
    volumes:
      - geoserver-data:/opt/geoserver/data_dir
      - ./../files:/home/data/cubes
    ports:
      - "8081:8080"
    networks:
      - bdc_net_geoserver

  postgis:
    hostname: postgis
    container_name: postgis
    image: mdillon/postgis
    environment:
      - POSTGRES_PASSWORD=postgres
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    networks:
      - bdc_net_geoserver

networks:
  bdc_net_geoserver:
    driver: bridge

volumes:
  postgres-data:
  geoserver-data:
